@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello There!</h1>
    <p>General Kenobi this is my first Azure Webapp</a>.</p>
</div>
